<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        defaultTestSuite="Unit,Integration"
        >
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration/</directory>
        </testsuite>
    </testsuites>
    <filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<exclude>./vendor</exclude>
		</whitelist>
	</filter>
    <logging>
        <log type="coverage-html" target="./storage/phpunit/report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="/storage/phpunit/coverage.xml"/>
        <log type="coverage-php" target="/storage/phpunit/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="/storage/phpunit/logfile.xml"/>
        <log type="testdox-html" target="/storage/phpunit/testdox.html"/>
        <log type="testdox-text" target="/storage/phpunit/testdox.txt"/>
    </logging>
</phpunit>